---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Services from "../components/Services.astro";
import Features from "../components/Features.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="SFO ESTUDIO WEB - Creación de Páginas Web Profesionales">
	<Header />

	<main>
		<Hero />
		<PortfolioPreview />
		<Features />
		<Services />
		<CTA />
	</main>

	<Footer />
</Layout>
